* {
  font-family: Raleway;
}

body {
  background: #000000;
  height: 100vh;
}

.container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

h1 {
  width: 500px;
  text-align: center;
  border-bottom: 0.5px solid #03179ab0;
  color: #fef54b;
  margin: 20px auto 20px;
  font-weight: 400;
}

input[type="text"] {
  color: #400069eb;
  background-color: #ffffffc8;
  width: 300px;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 8px;
  margin-right: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #ffffff;
}

input:focus {
  outline: #c8ff00;
  background-color: #ffffff;
  border-bottom: 3px solid #f4e988d9;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #400069eb;
  color: #fff;
  border: 2px solid #e9e8ee1c;

  border-radius: 8px;
  cursor: pointer;
}

#results {
  margin-top: 20px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.movie {
  color: #ffffff77;
  max-height: 500px;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #5900ff24;
  border-radius: 10px;
  width: calc(33.33% - 10px); /* Ajusta el ancho de cada elemento .movie para que haya tres elementos en una fila */
  box-sizing: border-box;
}

.movie img {
  border-radius: 10px;
  width: 150px;
  float: left;
  margin-right: 15px;
}

.movie h2 {
  color: #f4e988d9;
  text-align: center;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
}
.movie .description{
  font-weight: 200;
  text-align: left;
}
.movie p {
  font-weight: 600;
  text-align: left;
  margin: 5px 0;
}
